html, body {
  margin: 0;
  font-family: Inter;
}


.header {
  display: flex;
  height: 55px;
  background: #F55A5A;
  justify-content: center;
  align-items: center;
  gap: .5rem; 
}

.header--globe {
  width: 24px;
  height: 24px;
}

.header--text {
  color: white;
}